@CHARSET "UTF-8";

.sup {
    font-size:0.6em;
    vertical-align:top
}

.edBody {
    font-family:Helvetica,Helv;
    background-color: #FFFFFF;
}

.edHeader {
    text-align: center;
    font-size: 300%;
    border-style: solid;
    border-width: thick;
    margin-bottom: 40px;
}

.edSubHeader {
    text-align: center;
    font-size: 135%;
    margin-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.edSubSubHeader {
    text-align: center;
    font-size: 120%;
    margin-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.edSubSection {
    border-style: dotted;
    border-width: thin;
}

.edHeaderCell {
	font-size: 110%;
	text-align: center;
	vertical-align:bottom;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.edCell {
    border-style: solid;
    border-width: 1px;
}
.edMidCell {
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.edCapabCell {
	border-style: solid;
	border-width: 1px;
	text-align: center;
	border-style: hidden;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.edKeyCell {
    font-size: 105%;
    text-align: left;
}

.edValueCell {
	font-style: italic;
	border-bottom-style: solid;
	border-bottom-width: 1px;
    padding-left: 5px;
    padding-right: 20px;
}

.edLayoutRow {
    border-style: solid;
    border-width: thin;
    width: 100%;
    margin-bottom: 2px;
}

.edMiscellaneous,
.edAttributes {
    border-style: solid;
    border-width: thin;
    vertical-align: top;
    width: 50%;
}

.edCharacteristics {
    border-style: solid;
    border-width: thin;
    width: 100%;
    margin-bottom: 2px;
}

.edInitiative,
.edMovement,
.edKarma,
.edCarrying,
.edHealth,
.edDamage,
.edDefense,
.edProtection  {
    border-style: solid;
    border-width: thin;
    width: 25%;
    vertical-align: top;
}

.edDiscipline {
    border-width: thin;
    border-style: solid;
    width: 100%;
    margin-bottom: 2px;
}

.edDisciplineTalents,
.edOptionalTalents,
.edThreadItems {
    border-width: thin;
    border-style: solid;
    vertical-align: top;
    width: 50%;
}

.edThreadItemTop {
    border-top-width: thin;
    border-top-style: solid;
    border-left-width: thin;
    border-left-style: solid;
    border-right-width: thin;
    border-right-style: solid;
    vertical-align: top;
    width: 50%;
}
.edThreadItemBottom {
    border-left-width: thin;
    border-left-style: solid;
    border-right-width: thin;
    border-right-style: solid;
    border-bottom-width: thin;
    border-bottom-style: solid;
    vertical-align: top;
    width: 50%;
}

.edDisciplineBonuses {
    border-width: thin;
    border-style: solid;
}

.edExperience,
.edCalculatedLegendPoints {
    border-width: thin;
    border-style: solid;
    margin: 2px;
}
 
.edSkills{
    border-style: solid;
    border-width: thin;
    text-align: center;
    width: 50%;
    vertical-align: top;
}

.edEquipment,
.edCoins,
.edWeapons,
.edArmor,
.edThreadItems,
.edBloodItems {
    border-style: solid;
    border-width: thin;
    text-align: center;
    width: 50%;
    vertical-align: top;
}

.edSpells {
    border-width: thin;
    border-style: solid;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.edMagicItems,
.edPatternItems {
    border-width: thin;
    border-style: solid;
    margin: 10px;
    width: 100%;
}

.edPortraits {
    text-align: center;
    width: 100%;
    vertical-align: top;
}

.edPortraitImages {
    text-align: center;
    vertical-align: top;
}

.edDescription {
    text-align: left;
    width: 100%;
    vertical-align: top;
}

.edDescriptionText {
    text-align: left;
    vertical-align: top;
}

.edComment {
    text-align: left;
    width: 100%;
    vertical-align: top;
}

.edCommentText {
    text-align: left;
    vertical-align: top;
}
