@CHARSET "UTF-8";

.sup {
	font-size:0.6em;
	vertical-align:top
}

.edBody {
	font-family:Helvetica,Helv,sans-serif;
	background-color: #FFFFFF;
	font-size: 8pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

.edHeader {
	text-align: center;
	font-family: Georgia,"Century Schoolbook",serif;
	font-size: 300%;
	font-weight: bolder;
	border-style: solid;
	border-width: thick;
}

.edSubHeader {
	text-align: center;
	font-weight: bold;
	margin-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.edSubSubHeader {
    text-align: center;
    margin-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.edSubSection {
    border-style: dotted;
    border-width: thin;
}

.edHeaderCell {
	text-align: center;
	vertical-align:bottom;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.edCell {
	text-align: left;
	vertical-align:bottom;
	border-style: hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-width: thin;
}

.edThreadrank {
	width: 10ex;
	text-align: center;
	vertical-align: top;
	border-style: hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-width: thin;
}

.edThreaditemdescription {
	text-align: justify;
	vertical-align: bottom;
	border-style: hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-width: thin;
}

.edMidCell {
	text-align: center;
	vertical-align: bottom;
	border-style: hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-width: thin;
}

.edItemCell,
.edCapabCell {
	font-size: 80%;
	border-style: hidden;
	border-width: 1px;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.edLPCell {
	font-size: 80%;
	border-style: solid;
	text-align: center;
	border-style: hidden;
}

.edKeyCell {
	text-align: right;
	font-family: cursive;
}

.edValueCell {
	font-style: italic;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-left: 5px;
	padding-right: 20px;
}

.dicetableStep {
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
}

.dicetableDice {
	text-align: left;
	padding-left: 5px;
	padding-right: 0px;
}

.edLayoutRow {
    border-style: solid;
    border-width: thin;
    width: 100%;
    margin-bottom: 2px;
}

.invisible {
	margin: 0px;
	padding: 0px;
	border-style: none;
}

.edDefense,
.edMiscellaneous,
.edAttributes {
    border-style: solid;
    border-width: thin;
    vertical-align: top;
}

.edExperience,
.edKarma {
    border-style: solid;
    border-width: thin;
    width: 100%;
    margin-bottom: 2px;
    margin-left: -2px;
    margin-right: 0px;
    padding: 0px;
}

.edInitiative {
    border-style: solid;
    border-width: thin;
    width: 100%;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 1px;
    padding: 0px;
}

.edCalculatedLegendPoints,
.edCarrying {
    border-style: solid;
    border-width: thin;
    width: 100%;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 0px;
    padding: 0px;
}

.edHealth,
.edCharacteristics {
    border-style: solid;
    border-width: thin;
    width: 100%;
    margin-bottom: 2px;
    padding: 0px;
}

.edMovement,
.edDamage,
.edProtection  {
    border-style: solid;
    border-width: thin;
    width: 25%;
    vertical-align: top;
}

.edDiscipline {
    border-width: thin;
    border-style: solid;
    width: 100%;
    margin-bottom: 2px;
}

.edDisciplineTalents,
.edOptionalTalents,
.edThreadItems {
    border-width: thin;
    border-style: solid;
    vertical-align: top;
}

.edThreadItemTop {
    border-top-width: thin;
    border-top-style: solid;
    border-left-width: thin;
    border-left-style: solid;
    border-right-width: thin;
    border-right-style: solid;
    vertical-align: top;
	width: 50%;
}
.edThreadItemBottom {
    border-left-width: thin;
    border-left-style: solid;
    border-right-width: thin;
    border-right-style: solid;
    border-bottom-width: thin;
    border-bottom-style: solid;
    vertical-align: top;
}

.edDisciplineBonuses {
    border-width: thin;
    border-style: solid;
}

.edSkills{
    border-style: solid;
    border-width: thin;
    text-align: center;
    vertical-align: top;
}

.edLanguages,
.edEquipment,
.edCoins,
.edWeapons,
.edArmor,
.edThreadItems,
.edBloodItems {
    border-style: solid;
    border-width: thin;
    text-align: center;
    vertical-align: top;
    margin-bottom: 2px;
}

.edSpells {
    border-width: thin;
    border-style: solid;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.edMagicItems,
.edPatternItems {
    border-width: thin;
    border-style: solid;
    width: 100%;
}

.edPortraits {
    text-align: center;
    width: 100%;
    vertical-align: top;
}

.edPortraitImages {
	text-align: center;
	vertical-align: top;
	height: 30ex;
}

.edDescription {
    text-align: left;
    width: 100%;
    vertical-align: top;
}

.edDescriptionText {
    text-align: left;
    vertical-align: top;
}

.edComment {
    text-align: left;
    width: 100%;
    vertical-align: top;
}

.edCommentText {
    text-align: left;
    vertical-align: top;
}

.edIcon {
	vertical-align: middle
}