@CHARSET "UTF-8";

.edBody {
    font-family:Helvetica,Helv;
    background-color: #B1B1B1;
}

.edHeader {
    text-align: center;
    font-size: 300%
}

.edSubHeader {
    text-align: center;
    font-size: 180%
}

.edSubHeader {
    text-align: center;
    font-size: 130%
}

.edKey {
    font-weight: bolder;
}

.edValue {
	// NONE
}

.edPair {
    display: block;
}

.edMiscellaneous,
.edAttributes,
.edDiscipline, 
.edDisciplineTalents,
.edOtherTalents,
.edSpells,
.edCharacteristics,
.edWeapons,
.edSkills,
.edRaceabilities,
.edExperience,
.edCoins,
.edEquipment,
.edMagicItems,
.edPatternItems {
    border-width: 3px;
    border-style: solid;
    margin: 10px;
}