<html><head><title>Characteristics Status</title>
<style type="text/css">
table    { width:100%; height:100%; border-width:2px; border-style:solid; border-color:silver; padding:0px; spacing:0px;}
table.invis { border-width:0px; border:none; }
td       { text-align:center; font-weight:normal; color:#fffa74; }
td.red   { font-weight:bold; color:red; }
tr.thead { font-weight:bold; font-style:italic; }
tr.tfoot { font-style:italic; }
</style>
</head><body>

<table class="invis">
	<tr>
		<td colspan="2">
			${APPEARANCE.race}<#if APPEARANCE.origin != "">,${APPEARANCE.origin}</#if>
			(${APPEARANCE.gender}, ${APPEARANCE.age})<br/>
			<table>
				<tr class="thead">
					<td colspan="6">${TEXT.attributes}</td>
				</tr>
				<tr>
					<td>${ATTRIBUTE.DEX.name}</td>
					<td>${ATTRIBUTE.DEX.basevalue}</td>
					<td>${ATTRIBUTE.DEX.lpincrease}</td>
					<td>${ATTRIBUTE.DEX.currentvalue}</td>
					<td>${ATTRIBUTE.DEX.step}</td>
					<td>${ATTRIBUTE.DEX.dice}</td>
				</tr>
				<tr>
					<td>${ATTRIBUTE.STR.name}</td>
					<td>${ATTRIBUTE.STR.basevalue}</td>
					<td>${ATTRIBUTE.STR.lpincrease}</td>
					<td>${ATTRIBUTE.STR.currentvalue}</td>
					<td>${ATTRIBUTE.STR.step}</td>
					<td>${ATTRIBUTE.STR.dice}</td>
				</tr>
				<tr>
					<td>${ATTRIBUTE.TOU.name}</td>
					<td>${ATTRIBUTE.TOU.basevalue}</td>
					<td>${ATTRIBUTE.TOU.lpincrease}</td>
					<td>${ATTRIBUTE.TOU.currentvalue}</td>
					<td>${ATTRIBUTE.TOU.step}</td>
					<td>${ATTRIBUTE.TOU.dice}</td>
				</tr>
				<tr>
					<td>${ATTRIBUTE.PER.name}</td>
					<td>${ATTRIBUTE.PER.basevalue}</td>
					<td>${ATTRIBUTE.PER.lpincrease}</td>
					<td>${ATTRIBUTE.PER.currentvalue}</td>
					<td>${ATTRIBUTE.PER.step}</td>
					<td>${ATTRIBUTE.PER.dice}</td>
				</tr>
				<tr>
					<td>${ATTRIBUTE.WIL.name}</td>
					<td>${ATTRIBUTE.WIL.basevalue}</td>
					<td>${ATTRIBUTE.WIL.lpincrease}</td>
					<td>${ATTRIBUTE.WIL.currentvalue}</td>
					<td>${ATTRIBUTE.WIL.step}</td>
					<td>${ATTRIBUTE.WIL.dice}</td>
				</tr>
				<tr>
					<td>${ATTRIBUTE.CHA.name}</td>
					<td>${ATTRIBUTE.CHA.basevalue}</td>
					<td>${ATTRIBUTE.CHA.lpincrease}</td>
					<td>${ATTRIBUTE.CHA.currentvalue}</td>
					<td>${ATTRIBUTE.CHA.step}</td>
					<td>${ATTRIBUTE.CHA.dice}</td>
				</tr>
				<tr class="tfoot">
					<td colspan="5">${TEXT.usedattributecost}</td>
					<#if ATTRIBUTE.BuyPointsMax < ATTRIBUTE.BuyPointsUsed><td class="red"><#else><td></#if>${ATTRIBUTE.BuyPointsUsed} of ${ATTRIBUTE.BuyPointsMax}</td>
				</tr>
			</table>
		</td>
		<td colspan="3">
			<table class="invis">
				<tr>
					<td>
						<table>
							<tr class="thead">
								<td colspan="3">${TEXT.defense}</td>
							</tr>
							<tr>
								<td>${TEXT.physical}</td>
								<td>${TEXT.mystic}</td>
								<td>${TEXT.social}</td>
							</tr>
							<tr>
								<td>${DEFENSE.physical}</td>
								<td>${DEFENSE.spell}</td>
								<td>${DEFENSE.social}</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr class="thead">
								<td colspan="2">${TEXT.armor}</td>
							</tr>
							<tr>
								<td>${TEXT.physical}</td>
								<td>${TEXT.mystic}</td>
							</tr>
							<tr>
								<td>${PROTECTION.physicalarmor}</td>
								<td>${PROTECTION.mysticarmor}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="invis">
				<tr>
					<td>
						<table>
							<tr class="thead">
								<td colspan="2">${TEXT.initiative}</td>
							</tr>
							<tr>
								<td>${TEXT.basestep}</td>
								<td>${INITIATIVE.base}</td>
							</tr>
							<tr>
								<td>${TEXT.penalty}</td>
								<td>${INITIATIVE.modification}</td>
							</tr>
							<tr>
								<td>${TEXT.step}</td>
								<td>${INITIATIVE.step}</td>
							</tr>
							<tr>
								<td>${TEXT.dice}</td>
								<td>${INITIATIVE.dice}</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr class="thead">
								<td colspan="2">${TEXT.movement}</td>
							</tr>
							<tr>
								<td>${TEXT.ground}</td>
								<td>${MOVEMENT.ground}</td>
							</tr>
							<tr>
								<td>${TEXT.flight}</td>
								<td>${MOVEMENT.flight}</td>
							</tr>
							<tr class="thead">
								<td colspan="2">${TEXT.encumbrance}</td>
							</tr>
							<tr>
								<td>${TEXT.carrying}</td>
								<td>${CARRYING.carrying}</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr class="thead">
								<td colspan="2">${TEXT.karma}</td>
							</tr>
							<tr>
								<td>${TEXT.current}</td>
								<td>${KARMA.current}</td>
							</tr>
							<tr>
								<td>${TEXT.max}</td>
								<td>${KARMA.max}</td>
							</tr>
							<tr>
								<td>${TEXT.step}</td>
								<td>${KARMA.step}</td>
							</tr>
							<tr>
								<td>${TEXT.dice}</td>
								<td>${KARMA.dice}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr class="tfoot">
					<td colspan="2" style="width:50px">${TEXT.notspentstartranks}</td>
				</tr>
				<tr>
					<td>${TEXT.talents}</td>
					<#if USEDSTARTRANKS.talents < 0><td class="red"><#else><td></#if>${USEDSTARTRANKS.talents}</td>
				</tr>
				<tr>
					<td>${TEXT.skills}</td>
					<#if USEDSTARTRANKS.skills < 0><td class="red"><#else><td></#if>${USEDSTARTRANKS.skills}</td>
				</tr>
				<tr>
					<td>${TEXT.spells}</td>
					<#if USEDSTARTRANKS.spells < 0><td class="red"><#else><td></#if>${USEDSTARTRANKS.spells}</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr class="thead">
					<td colspan="4">${HEALTH.TEXT.health}</td>
				</tr>
				<tr>
					<td>${HEALTH.TEXT.unconsciousness}</td>
					<td colspan="2">${HEALTH.UNCONSCIOUSNESS.base} + ${HEALTH.UNCONSCIOUSNESS.adjustment} =</td>
					<td>${HEALTH.UNCONSCIOUSNESS.value}</td>
				</tr>
				<tr>
					<td>${HEALTH.TEXT.death}</td>
					<td colspan="2">${HEALTH.DEATH.base} + ${HEALTH.DEATH.adjustment} =</td>
					<td>${HEALTH.DEATH.value}</td>
				</tr>
				<tr>
					<td>${HEALTH.TEXT.recovery} ${TEXT.step}</td>
					<td>${HEALTH.RECOVERY.step}</td>
					<td>${HEALTH.TEXT.recovery} ${TEXT.dice}</td>
					<td>${HEALTH.RECOVERY.dice}</td>
				</tr>
				<tr>
					<td>${HEALTH.TEXT.recoverytests}</td>
					<td>${HEALTH.RECOVERY.testsperday}</td>
					<td>${HEALTH.TEXT.woundthreshold}</td>
					<td>${HEALTH.WOUNDS.threshold}</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr class="thead">
					<td colspan="2">${HEALTH.TEXT.damage}</td>
				</tr>
				<tr>
					<td>${HEALTH.TEXT.currentdamage}</td>
					<td>${HEALTH.damage}</td>
				</tr>
				<tr>
					<td>${HEALTH.TEXT.currentwounds}</td>
					<td>
						${HEALTH.WOUNDS.normal}
						<#if HEALTH.WOUNDS.blood != 0>(+${HEALTH.WOUNDS.blood})</#if>
					</td>
				</tr>
				<tr>
					<td>
						${HEALTH.TEXT.blooddamage}
						<#if HEALTH.depatterningrate != 0>(DR)</#if>
					</td>
					<td>
						${HEALTH.blooddamage}
						<#if HEALTH.depatterningrate != 0>(${HEALTH.depatterningrate})</#if>
					</td>
				</tr>
				<tr>
					<td>${HEALTH.TEXT.woundpenalties}</td>
					<td>${HEALTH.WOUNDS.penalties}</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr class="thead">
					<td colspan="2">${TEXT.legendpoints}</td>
				</tr>
				<tr>
					<td>${TEXT.renown}</td>
					<td>${EXPERIENCE.renown}</td>
				</tr>
				<tr>
					<td>${TEXT.reputation}</td>
					<td>${EXPERIENCE.reputation}</td>
				</tr>
				<tr>
					<td>${TEXT.current}</td>
					<#if EXPERIENCE.currentlegendpoints < 0><td class="red"><#else><td></#if>${EXPERIENCE.currentlegendpoints}</td>
				</tr>
				<tr>
					<td>${TEXT.total}</td>
					<td>${EXPERIENCE.totallegendpoints}</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr class="thead">
					<td>Questor</td>
				</tr>
				<tr>
					<td>Passion</td>
				</tr>
				<tr>
					<td>${DEVOTION.passion}</td>
				</tr>
				<tr>
					<td>${TEXT.devotion}</td>
				</tr>
				<tr>
					<td>${DEVOTION.value}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="5">
			<table>
				<tr class="thead">
					<td colspan="9">${TEXT.calculatedlegendpoints}</td>
				</tr>
				<tr>
					<td>${TEXT.attributes}</td>
					<td>${TEXT.disciplinetalents}</td>
					<td>${TEXT.optionaltalents}</td>
					<td>${TEXT.knacks}</td>
					<td>${TEXT.spells}</td>
					<td>${TEXT.skills}</td>
					<td>${TEXT.karma}</td>
					<td>${TEXT.magicitems}</td>
					<td>${TEXT.total}</td>
					<td>${TEXT.unused}</td>
				</tr>
				<tr>
					<td>${CALCULATEDLEGENDPOINTS.attributes}</td>
					<td>${CALCULATEDLEGENDPOINTS.disciplinetalents}</td>
					<td>${CALCULATEDLEGENDPOINTS.optionaltalents}</td>
					<td>${CALCULATEDLEGENDPOINTS.knacks}</td>
					<td>${CALCULATEDLEGENDPOINTS.spells}</td>
					<td>${CALCULATEDLEGENDPOINTS.skills}</td>
					<td>${CALCULATEDLEGENDPOINTS.karma}</td>
					<td>${CALCULATEDLEGENDPOINTS.magicitems}</td>
					<td>${CALCULATEDLEGENDPOINTS.total}</td>
					<#if CALCULATEDLEGENDPOINTS.unused < 0><td class="red"><#else><td></#if>${CALCULATEDLEGENDPOINTS.unused}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</body></html>
