<html><head><title>Characteristics Status</title>
<style type="text/css">
table    { width:100%; height:100%; border-width:1px; border-style:solid; border-color:silver; padding:0px; spacing:0px;}
table.invis { border-width:0px; border:none; }
td       { text-align:center; }
td.red   { font-weight:bold; color:red; }
tr.thead { font-weight:bold; font-style:italic; }
tr.tfoot { font-style:italic; }
</style>
</head><body>

<table class="invis">
	<tr>
		<td colspan="2">
			${APPEARANCE.race} (${APPEARANCE.gender}, ${APPEARANCE.age})<br/>
			<table>
				<tr class="thead">
					<td colspan="6">Attributes</td>
				</tr>
				<tr>
					<td>Dexterity</td>
					<td>${ATTRIBUTE.DEX.basevalue}</td>
					<td>${ATTRIBUTE.DEX.lpincrease}</td>
					<td>${ATTRIBUTE.DEX.currentvalue}</td>
					<td>${ATTRIBUTE.DEX.step}</td>
					<td>${ATTRIBUTE.DEX.dice}</td>
				</tr>
				<tr>
					<td>Strength</td>
					<td>${ATTRIBUTE.STR.basevalue}</td>
					<td>${ATTRIBUTE.STR.lpincrease}</td>
					<td>${ATTRIBUTE.STR.currentvalue}</td>
					<td>${ATTRIBUTE.STR.step}</td>
					<td>${ATTRIBUTE.STR.dice}</td>
				</tr>
				<tr>
					<td>Toughness</td>
					<td>${ATTRIBUTE.TOU.basevalue}</td>
					<td>${ATTRIBUTE.TOU.lpincrease}</td>
					<td>${ATTRIBUTE.TOU.currentvalue}</td>
					<td>${ATTRIBUTE.TOU.step}</td>
					<td>${ATTRIBUTE.TOU.dice}</td>
				</tr>
				<tr>
					<td>Perception</td>
					<td>${ATTRIBUTE.PER.basevalue}</td>
					<td>${ATTRIBUTE.PER.lpincrease}</td>
					<td>${ATTRIBUTE.PER.currentvalue}</td>
					<td>${ATTRIBUTE.PER.step}</td>
					<td>${ATTRIBUTE.PER.dice}</td>
				</tr>
				<tr>
					<td>Willpower</td>
					<td>${ATTRIBUTE.WIL.basevalue}</td>
					<td>${ATTRIBUTE.WIL.lpincrease}</td>
					<td>${ATTRIBUTE.WIL.currentvalue}</td>
					<td>${ATTRIBUTE.WIL.step}</td>
					<td>${ATTRIBUTE.WIL.dice}</td>
				</tr>
				<tr>
					<td>Charisma</td>
					<td>${ATTRIBUTE.CHA.basevalue}</td>
					<td>${ATTRIBUTE.CHA.lpincrease}</td>
					<td>${ATTRIBUTE.CHA.currentvalue}</td>
					<td>${ATTRIBUTE.CHA.step}</td>
					<td>${ATTRIBUTE.CHA.dice}</td>
				</tr>
				<tr class="tfoot">
					<td colspan="5">Not Spent Attribute Cost</td>
					<td>${KARMA.maxmodificator}</td>
				</tr>
			</table>
		</td>
		<td colspan="3">
			<table class="invis">
				<tr>
					<td>
						<table>
							<tr class="thead">
								<td colspan="3">Defense</td>
							</tr>
							<tr>
								<td>physical</td>
								<td>spell</td>
								<td>social</td>
							</tr>
							<tr>
								<td>${DEFENSE.physical}</td>
								<td>${DEFENSE.spell}</td>
								<td>${DEFENSE.social}</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr class="thead">
								<td colspan="2">Armor</td>
							</tr>
							<tr>
								<td>physical</td>
								<td>mystic</td>
							</tr>
							<tr>
								<td>${PROTECTION.physicalarmor}</td>
								<td>${PROTECTION.mysticarmor}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="invis">
				<tr>
					<td>
						<table>
							<tr class="thead">
								<td colspan="2">Initiative</td>
							</tr>
							<tr>
								<td>Base Step</td>
								<td>${INITIATIVE.base}</td>
							</tr>
							<tr>
								<td>Penalty</td>
								<td>${INITIATIVE.modification}</td>
							</tr>
							<tr>
								<td>Step</td>
								<td>${INITIATIVE.step}</td>
							</tr>
							<tr>
								<td>Dice</td>
								<td>${INITIATIVE.dice}</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr class="thead">
								<td colspan="2">Movement</td>
							</tr>
							<tr>
								<td>Ground</td>
								<td>${MOVEMENT.ground}</td>
							</tr>
							<tr>
								<td>Flight</td>
								<td>${MOVEMENT.flight}</td>
							</tr>
							<tr class="thead">
								<td colspan="2">Encumbrance</td>
							</tr>
							<tr>
								<td>Carrying</td>
								<td>${CARRYING.carrying}</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr class="thead">
								<td colspan="2">Karma</td>
							</tr>
							<tr>
								<td>current</td>
								<td>${KARMA.current}</td>
							</tr>
							<tr>
								<td>Max</td>
								<td>${KARMA.max}</td>
							</tr>
							<tr>
								<td>Step</td>
								<td>${KARMA.step}</td>
							</tr>
							<tr>
								<td>Dice</td>
								<td>${KARMA.dice}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr class="tfoot">
					<td colspan="2">Not Spent</td>
				</tr>
				<tr class="tfoot">
					<td colspan="2">Start Ranks</td>
				</tr>
				<tr>
					<td>Talents</td>
					<#if USEDSTARTRANKS.talents < 0><td class="red"><#else><td></#if>${USEDSTARTRANKS.talents}</td>
				</tr>
				<tr>
					<td>Skills</td>
					<#if USEDSTARTRANKS.skills < 0><td class="red"><#else><td></#if>${USEDSTARTRANKS.skills}</td>
				</tr>
				<tr>
					<td>Spells</td>
					<#if USEDSTARTRANKS.spells < 0><td class="red"><#else><td></#if>${USEDSTARTRANKS.spells}</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr class="thead">
					<td colspan="4">Health</td>
				</tr>
				<tr>
					<td>Unconsciousness</td>
					<td colspan="2">${HEALTH.UNCONSCIOUSNESS.base} + ${HEALTH.UNCONSCIOUSNESS.adjustment} =</td>
					<td>${HEALTH.UNCONSCIOUSNESS.value}</td>
				</tr>
				<tr>
					<td>Death</td>
					<td colspan="2">${HEALTH.DEATH.base} + ${HEALTH.DEATH.adjustment} =</td>
					<td>${HEALTH.DEATH.value}</td>
				</tr>
				<tr>
					<td>Recovery Step</td>
					<td>${HEALTH.RECOVERY.step}</td>
					<td>Recovery Dice</td>
					<td>${HEALTH.RECOVERY.dice}</td>
				</tr>
				<tr>
					<td>Recovery Tests per Day</td>
					<td>${HEALTH.RECOVERY.testsperday}</td>
					<td>Wound Threshold</td>
					<td>${HEALTH.WOUNDS.threshold}</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr class="thead">
					<td colspan="2">Damage</td>
				</tr>
				<tr>
					<td>Current Damage</td>
					<td>${HEALTH.damage}</td>
				</tr>
				<tr>
					<td>Current Wounds</td>
					<td>${HEALTH.WOUNDS.normal}</td>
				</tr>
				<tr>
					<td>Bloodwounds</td>
					<td>${HEALTH.WOUNDS.blood}</td>
				</tr>
				<tr>
					<td>Wound Penalties</td>
					<td>${HEALTH.WOUNDS.penalties}</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr class="thead">
					<td colspan="2">Legend Points</td>
				</tr>
				<tr>
					<td>Renown</td>
					<td>${EXPERIENCE.renown}</td>
				</tr>
				<tr>
					<td>Reputation</td>
					<td>${EXPERIENCE.reputation}</td>
				</tr>
				<tr>
					<td>Current</td>
					<#if EXPERIENCE.currentlegendpoints < 0><td class="red"><#else><td></#if>${EXPERIENCE.currentlegendpoints}</td>
				</tr>
				<tr>
					<td>Total</td>
					<td>${EXPERIENCE.totallegendpoints}</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr class="thead">
					<td>Questor</td>
				</tr>
				<tr>
					<td>Passion</td>
				</tr>
				<tr>
					<td>${DEVOTION.passion}</td>
				</tr>
				<tr>
					<td>Devotion</td>
				</tr>
				<tr>
					<td>${DEVOTION.value}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="5">
			<table>
				<tr class="thead">
					<td colspan="9">Calculated Legend Points</td>
				</tr>
				<tr>
					<td>Attributes</td>
					<td>Discipline Talents</td>
					<td>Optional Talents</td>
					<td>Knacks</td>
					<td>Spells</td>
					<td>Skills</td>
					<td>Karma</td>
					<td>Magic Items</td>
					<td>Total</td>
					<td>Unused</td>
				</tr>
				<tr>
					<td>${CALCULATEDLEGENDPOINTS.attributes}</td>
					<td>${CALCULATEDLEGENDPOINTS.disciplinetalents}</td>
					<td>${CALCULATEDLEGENDPOINTS.optionaltalents}</td>
					<td>${CALCULATEDLEGENDPOINTS.knacks}</td>
					<td>${CALCULATEDLEGENDPOINTS.spells}</td>
					<td>${CALCULATEDLEGENDPOINTS.skills}</td>
					<td>${CALCULATEDLEGENDPOINTS.karma}</td>
					<td>${CALCULATEDLEGENDPOINTS.magicitems}</td>
					<td>${CALCULATEDLEGENDPOINTS.total}</td>
					<#if CALCULATEDLEGENDPOINTS.unused < 0><td class="red"><#else><td></#if>${CALCULATEDLEGENDPOINTS.unused}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</body></html>
